# Challenge 1: Introduction to Data Science and Python

### Task 1: Markdown and Formatting

#### Data Matters

*Data! Data! Data! I can’t make bricks without clay!*

*Sir Arthur Conan Doyle*

Sir Conan Doyle’s famous fictional detective, Sherlock Holmes, couldn’t form any theories or draw any conclusions until he had **sufficient data**. [Data is the basic building block](http://www.analyticshero.com/2012/09/19/the-two-guiding-principles-for-data-quality-in-digital-analytics/) of everything we do in analytics: the reports we build, the analyses we perform, the decisions we influence, and the optimisations we derive.



*Not everything that can be counted counts, and not everything that counts can be counted.*

*Albert Einstein, Physicist*

While data is important, **the right data is essential**. It’s becoming easier to feel overwhelmed by the increasing amounts of data being collected. Understanding what’s important to the business (you need clear business goals) helps analysts to evaluate what data counts or should be counted. Albert Einstein was on to something when he said we can’t always track what we want to count, but that doesn’t stop us from constantly exploring new ways to get the data we need (just remember to **respect privacy** policies and laws).

$f(x)=\frac{P(x)}{Q(x)}p(x) = 3x^6$

### Task 2: Selection and Repetition

In [1]:
import random

In [2]:
for k in range(5):
    print(random.random())

0.6440133062186603
0.13600410036749144
0.8397282894509426
0.4847727553554978
0.9523924187971671

In [3]:
flip = random.random()
if flip <0.5:
    print('The random number generated is:', flip)
    print('Output (Heads is True, Tails is False): True')
else:
    print('The random number generated is:', flip)
    print('Output (Heads is True, Tails is False): False')

The random number generated is: 0.5601247490620367
Output (Heads is True, Tails is False): False

In [ ]:
n = float(input('Enter a value for p-probability of heads(range: <0 to 1>'))
flip = random.random()
p = n
if flip <p:
    print('The random number generated is:', flip)
    print('Output (Heads is True, Tails is False): True')
else:
    print('The random number generated is:', flip)
    print('Output (Heads is True, Tails is False): False')

In [ ]:
flip = random.random()
if flip <0.5:
    print('The coin came up heads')
else:
    print('The coin came up tails')

In [ ]:
n = int(input('How many times would you like to flip the coin: '))
for k in range(n):
    flip = random.random()
    if flip <0.5:
        print('The coin came up heads')
    else:
        print('The coin came up tails')

In [ ]:
n = int(input('How many times would you like to flip the coin: '))
count = 0
for k in range(n):
    flip = random.random()
    if flip <0.5:
        print('The coin came up heads')
        count = count + 1
    else:
        print('The coin came up tails')
print('Total number of heads:', count)
print('Total number of tails:', n - count)

In [ ]:
n = int(input('How many times would you like to flip the coin: '))
p = float(input('What probability would you like to give to heads <0 to 1>: '))
count = 0
for k in range(n):
    flip = random.random()
    if flip < p:
        count = count + 1
ratio = count / n
print('There were', count, 'heads and', n - count, 'tails')
print('Ratio of heads to total flips is', ratio)

# Challenge 2: Lambdas and Functions

### Task 1: Data Structures

In [ ]:
lst1 = [['Rishaad', '22223333', 25, 65, 48],
        ['Leslie', '23232323', 78, 54, 68],
        ['Haidar', '18493214', 55, 46, 39],
        ['Sel', '50015542', 70, 81, 75],
        ['Maryam', '45228733', 48, 75, 68],
        ['Istiaque', '35503401', 100, 98, 90], 
        ['Morgan', '25678890', 65, 89, 43],
        ['Mehran', '34545742', 65, 78, 87],
        ['Josephine', '04587864', 87, 56, 76], 
        ['Shannon', '44678646', 65, 76, 65],
        ['Anneke', '17850646', 72, 66, 58]]

In [ ]:
def calculate(lst):
    for k in range(len(lst)):
        print(lst[k])
    
calculate(lst1)

### Task 2: Lambda Functions

In [ ]:
def calculate(lst):
    for row in range(len(lst)):
        lst[row].append(sum(lst[row][2:])/len(lst[row][2:]))
    return lst

In [ ]:
calculate(lst1)

In [ ]:
def calculate(lst):
    for row in range(len(lst)):
        ave = sum(lst[row][2:])/len(lst[row][2:])
        if ave>=80:
            grade = 'HD'
        elif ave>=70:
            grade = 'D'
        elif ave>=60:
            grade = 'C'
        elif ave>=50:
            grade = 'P'
        else:
            grade = 'F'
        #lst[row].append(ave) #need this if it's the first time running the function, but in context of this notebook, don't want 'ave' appended twice below
        lst[row].append(grade)
    return lst

In [ ]:
calculate(lst1)

In [ ]:
def ave_col(table,col):
    total = 0
    for k in range (len(table)):
        total = total + table[k][col]
    average = total/len(table)
    return average

In [ ]:
[ave_col(lst1,2), ave_col(lst1,3), ave_col(lst1,4), ave_col(lst1,5)]

```list=[]
for k in range(lst1[2:6]):
    list.append(ave_col(lst1,k))
print(list)```

Hey Rishaad, I tried to use this loop instead of writing the ave_col function 4 times - why didn't it work?

# Challenge 3: Data Structures and NumPy

### Task 1: Working with NumPy

In [ ]:
import numpy as np

In [ ]:
square1 = np.array([[2,7,6],[9,5,1],[4,3,8]])

In [ ]:
square2 = np.array([[3,7,6],[7,5,1],[7,3,8]])

In [ ]:
square3 = np.array([[4,9,2],[3,9,7],[2,1,3]])

In [ ]:
square4 = np.array([[8,1,6],[3,5,7],[4,9,2]])

In [ ]:
square5 = np.random.rand(6,6)

In [ ]:
square6 = np.array([[17,24,1,8,15],[23,5,7,14,16],[4,6,13,20,22],[10,12,19,21,3],[11,18,25,2,9]])

In [ ]:
def ismagic(square):
    row = np.unique(square.sum(axis = 1))
    col = np.unique(square.sum(axis = 0))
    diag1 = sum(np.diagonal(square))
    diag2 = sum(np.fliplr(square).diagonal())
    if len(row) != 1:
        return("is not a magic square")
    else:
        if len(col) != 1:
            return("not a magic square")
        else:
            num = square.sum(axis = 1)
            num2 = square.sum(axis = 0)
            if diag1 != num[0]:
                return("not a magic square")
            elif diag1 != num[1]:
                return("not a magic square")
            elif diag1 != num[2]:
                return("not a magic square")
            else:
                if diag1 != num2[0]:
                    return("not a magic square")
                elif diag1 != num2[1]:
                    return("not a magic square")
                elif diag1 != num2[2]:
                    return("not a magic square")
                else:
                    if diag2 != num[0]:
                        return("not a magic square")
                    elif diag2 != num[1]:
                        return("not a magic square")
                    elif diag2 != num[2]:
                        return("not a magic square")
                    else:
                        if diag2 != num2[0]:
                            return("not a magic square")
                        elif diag2 != num2[1]:
                            return("not a magic square")
                        elif diag2 != num2[2]:
                            return("not a magic square")
                        else:
                            return("is a magic square")

In [ ]:
list(map(ismagic,(square1,square2,square3,square4,square5,square6)))

# Challenge 4: Pandas

## Task 1: Working with Pandas

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('Realestatevaluationdataset.xlsx')
df1

In [ ]:
df1.rename(columns={"X1 transaction date": "1 transaction date", "X2 house age": "2 house age", "X3 distance to the nearest MRT station": "3 distance to the nearest MRT station", "X4 number of convenience stores":"4 number of convenience stores", "X5 latitude":"5 latitude", "X6 longitude":"6 longitude"},inplace=True)
df1

In [ ]:
df1.info()

In [ ]:
df1.size

In [ ]:
df1.dtypes

In [ ]:
df1.columns

In [ ]:
df1.shape

In [ ]:
df1.axes

In [ ]:
df1[(df1["2 house age"]<2)]

In [ ]:
df1=df1.drop(columns = "No")
df1